.App {
	text-align: center;
}

.nav {
	height: 50px;
	display: flex;
	place-items: center;
	justify-content: space-around;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.prod-list {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.prod-item {
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border-radius: 20px;
}

.prod-item > .img-div {
	width: 250px;
	height: auto;
}
.img-div img {
	width: 200px;
	height: 300px;
}

.prod-item button {
	padding: 10px 14px;
	border: none;
	border-radius: 5px;
	background-color: rgb(220, 220, 1);
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.prod-item button:hover {
	background-color: rgb(237, 237, 2);
}

.prod-item .details {
	margin-top: 50px;
}
